.gallery__items {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
}
/* Левый блок с аватаром */
.gallery__item_avatar {
  background-color: #fff;
  width: 300px;
  padding-top: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.block_contacts {
  width: 100%;
  margin: 10px 10px;
}
.avatar {
  width: 145px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.block_info {
  color: grey;
  margin-bottom: 10px;
}

.block_info span {
  display: inline-block;
  margin-right: 10px;
  color: #2a5885;
}
/* Правый блок с инфо */
.gallery__item_info {
  background-color: #fff;
  width: 100%;
  padding: 0px 20px;
}
.name {
  font-size: 40px;
  color: #000;
  font-weight: bold;
}
.status_block {
  border-bottom: 1px solid rgb(189, 189, 189);
  margin-bottom: 10px;
}
.statusChange {
  color: grey;
  font-size: 14px;
  margin-bottom: 10px;
}
.contacts {
  margin-bottom: 10px;
  color: grey;
}
.contacts span {
  color: #2a5885;
}
